#title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
#home-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    font-size: 50px;
}

#profile-title{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    text-decoration: none;
    font-size: 30px;
    color: black;
}
#profile-title:hover{
    color: red;
    text-decoration: underline;
}
#links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}
#home-containter{
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-container{
    display: flex;
    justify-content: center;
}

#home-profile-btn{
    font-size: 20px;
    background-color: rgb(29, 162, 71);
    color: white
}

#post-card{
    border: solid black 2px;
    margin-top: 10px;
    padding-bottom: 20px 
}

.card-hover:hover{
    color: rgb(170, 20, 20);
    cursor: pointer;
}

#form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    font-size: 30px;
    width: 50%;
    margin-left: 25%;
}

#signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    width: 30%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 35%;
}

.navlink {
    text-decoration: none;
    color: black
}

.navlink.active {
    text-decoration: underline;
    color: red;
    font-size: 20px

}

.navlink:hover{
    text-decoration: underline;
}

#login {
    display: flex;
    justify-content: center;
}

#register {
    display: flex;
    justify-content: center;
}

#login-form{
    display: flex;
    flex-direction: column;
}
#register-form{
    display: flex;
    flex-direction: column;
}
label {
    font-size: 20px;
}
input{
    font-size: 20px;
}

.password{
    margin-bottom: 15px;
}

.clientButton{
    color: #FFFFFF;
    font-size: 15px;
    background-color:rgb(12, 150, 255);
}
#signup-Button{
    color: #FFFFFF;
    font-size: 15px;
    background-color:rgb(12, 150, 255);
    
}

#activeAccount {
    display: flex;
    justify-content: center;
}

#postNav{
    display: flex;
    justify-content: space-between;
}
#createPost{
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding: 1%;
    margin-top: 2%;
    margin-left: 37%;
}

#form-submit{
    margin-top: 10px;
    font-size: 20px;
    background-color:rgb(12, 150, 255);
    color: #FFFFFF;
}

#link-btn{
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 5px;
}
#signup-Button{
    display: flex;
    padding-left: 90px;
    padding-right: 90px;
    font-size: 25px;
    margin-bottom: 30px;
}
#login-break{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#featured-view {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black ;
    background-color: rgb(47, 95, 60);
    color: rgb(249, 247, 77); 
    height: 550px;
    width: 700px;
    font-size: 20px;
    
}
#featured-view:hover{
    background-color: rgb(47, 95, 60);
}
#title-view{
    display: flex;
    justify-content:center;
    color: rgb(255, 179, 47);
    margin-top: 0%;
}

.view-detail{
    font-size: 25px; 
    color:rgb(255, 87, 69)
}
.view-content{
    color: rgb(249, 247, 77);
    
}

#view-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 95.8%;
    margin-top: 5px;
    font-size: 15px;
}


#post-card:hover{
    background-color: lightgrey;
    box-shadow: -5px 6px 16px 0px rgba(0,0,0,1);
    -webkit-box-shadow: -5px 6px 16px 0px rgba(0,0,0,1);
    -moz-box-shadow: -5px 6px 16px 0px rgba(0,0,0,1);
}

.profile-title{
    display: flex;
    justify-content: center;
}

#comment-container{
    display:flex;
    margin-top: 20px;
    margin-left: 1em;
    overflow: scroll;
    flex-wrap: wrap;
    background-color: #ffffff;
    color: #5300f8;
    font-size: 16px;
    height: 150px;
    width: 650px;
    border: solid black 2px;
    margin-right: 0%;
    
}
#delete-view{
    display: flex;
    margin-left: 14em;
    margin-top: 20px;
    font-size: 20px;
    color:red

}
#feature-footer{
    display: flex;
    justify-content: end;
    margin-right: 31px;
    height: 20px;
    gap: 2px
}
#comment-input{
    width: 595px
}

#message-card{
    border-bottom: solid black 2px
}
#sender{
    font-size: 25px;
}