#title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
#home-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    font-size: 50px;
}
#links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}
#home-containter{
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-container{
    display: flex;
    justify-content: center;
}

#home-profile-btn{
    font-size: 20px;
    background-color: rgb(29, 162, 71);
    color: white
}

#post-card{
    border: solid black 2px;
    margin-top: 10px;
    padding-bottom: 20px 
}

#form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    font-size: 30px;
}

.navlink {
    text-decoration: none;
    color: black
}

.navlink.active {
    text-decoration: underline;
    color: red;
    font-size: 20px

}

.navlink:hover{
    text-decoration: underline;
}

#login {
    display: flex;
    justify-content: center;
}

#register {
    display: flex;
    justify-content: center;
}

#login-form{
    display: flex;
    flex-direction: column;
}
#register-form{
    display: flex;
    flex-direction: column;
}
label {
    font-size: 20px;
}
input{
    font-size: 20px;
}

.password{
    margin-bottom: 15px;
}

.clientButton{
    color: #FFFFFF;
    font-size: 15px;
    background-color:rgb(12, 150, 255);
}